*.bak
*.qws
*.ddb
**/db/
**/incremental_db/
**/output_files/
**/simulation/
.qsys_edit/
0.BasicMIPS-test/work
transcript
0.BasicMIPS-test/0.BasicMIPS-test.cr.mti
0.BasicMIPS-test/0.BasicMIPS-test.mpf
